<html>
    <head>
        <link href="assets/style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <!-- en la linea 8 estamos especificando entre los caracteres <%= %> que esa vista va a recibir
un valor especial, llamado ID -->
        <h1>Person: <%= ID %></h1>
    </body>
</html>