<!DOCTYPE html>
<html>
<body>
    <h1>Datos de estudiante</h1>
     <!--Se accede a los datos del estudiante con el objeto "student" -->
    <h2>
        NSS:<%= nss %> <br>
        Nombre: <%= nombre %> <br>
        Edad: <%= edad %> <br>
        Tipo de sangre: <%= tipoSangre %>
    </h2>
</body>
</html>